/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Fredoka+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");

/* Declaração de fontes personalizadas */
@font-face {
  font-family: "playtime";
  src: url("../assets/fonts/playtime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "senmoly";
  src: url("../assets/fonts/Senmoly Caligan.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variáveis de cor */
:root {
  --azul: #0f74b6;
  --vermelho: #d92344;
  --bege: #fef9f6;
  --texto: #333333;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #0c0c0c;
}

/* Estilos globais */
html {
  overflow-x: hidden;
}

body {
  background-color: var(--bege);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

strong {
  font-weight: bold;
  color: var(--azul);
}

h1 {
  margin-block: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
}

/* Header */
header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#logo-menu {
  height: 8vh;
  margin-right: 2rem;
}

.slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  align-content: center;
  width: 100vw;
  margin-left: 1rem;
  margin-top: 5rem;
}

.slogan h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.slogan h2 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

/* Video de introdução */
.home-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.home-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.home-video .slogan-video {
  z-index: 2;
}

.slogan-video {
  position: absolute;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2rem;
  font-family: "Fredoka One", cursive;
}

/* Cores dos textos das seções */
#natacao h2,
#futebol h2 {
  color: var(--azul);
}

#natacao h3,
#futebol h3,
#natacao h4 {
  color: var(--vermelho);
}

/* Estilos das imagens */
.image-placeholder {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.image-placeholder p {
  text-align: center;
  color: #fff;
}
